body {
    font-family: "Roboto Light", "Roboto Thin", system-ui;
}

h1 {
    font-family: "Arial Black", Arial, serif;
    color: saddlebrown;
}

.date {
    color: #b26024;
}

.description {

}

.img.label {
    background-color: lightgray;
}