body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

canvas {
	border: 1px solid black;
	border-radius: 5px;
}
form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: large;
}
form input {
	font-size: large;
	width: 1000px;
	margin-right: 20px;
}
